.header {
    background-color: var(--blue-accent);
}

.header>div>p,
.header>div>h2,
.header>form>button {
    color: var(--font-white);
}

.header h2 {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 0;
}

#error_message {
    padding-top: 1rem;
    color: red;
    text-align: center;
}

.header>form {
    position: relative;
    height: 60px;
    bottom: -30px;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    background-color: orange;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 0.25rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    max-width: calc(var(--page-width) - 200px);
    z-index: 5;
}

.header>form>* {
    border-radius: 0.4rem;
    border: 0;
    outline: 0;
    font-size: 1rem;
    font-weight: 700;
    padding: 0 1rem;
    height: 100%;
}

#place_input {
    flex-grow: 1;
}

.header>form>p {
    color: black;
    font-size: 2rem;
    padding: 10px 0 0;
    margin: 0;
}

.header>form>input:last-of-type {
    width: 88px;
}

.header>form>button {
    background-color: var(--blue-normal);
    padding: 0 2rem;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.footer {
    background-color: var(--grey-normal);
    padding: 6rem 0 2rem;
    flex-grow: 1;
    overflow-y: auto;
}

.footer form > div:first-of-type {
    border-bottom: 1px solid var(--blue-normal);
}

.footer form > div {
    padding: 0.75rem 1rem;
}

.footer form h2 {
    margin: 0;
}

.footer>div>div {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.footer form {
    border: 1px solid var(--blue-normal);
    border-radius: 15px;
    height: fit-content;
}

.footer form p {
    display: inline;
    white-space: nowrap;
}

.offers {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;
}

.offers>a {
    padding: 1rem;
    border: 1px solid var(--grey-accent);
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-content: space-between;
    transition: opacity 0.25s;
}

.offers>a:hover {
    opacity: 0.75;
}

.offers>a>div:last-child {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer_img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border: 1px solid var(--grey-accent);
}

.offer h1 {
    display: inline;
}

.offer p {
    margin: 0;
}

.offer > div > div {
    display: flex;
    justify-content: space-between;
}

.description {
    max-height: 140px;
    overflow: hidden;
    font-size: 0.9rem;
}